@import "tailwindcss";

html {
    font-size: 14px;
}



.blbl-header {

    background-image: url(../img/blbl法喜寺2.jpg);

}

.blbl-topbar-left a {
    margin: 0 20px 0 0;
}

.blbl-topbar-right a {
    margin: 0 20px 0 0;
}

.blbl-topbar li {
    padding: 30px 0;
}


.blbl-topbar-right a {

    flex-direction: column;
    align-items: center;
    /* 巧计 */
}


.blbl-combine .popular {
    /* height: 120px; */
    /* align-items: center; */
    /* 你这个伸缩项目得有高度，才能用这个啊 */
}





.popular-items {
    /* display: flex;
    height: 72px;
    width: 46px;
    margin-right: 26px;
    flex-direction: column;
    align-items: center; */
}

.blbl-combine .channel {
    /* width: 1230px;
    height: 74px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    border-right: 1px solid #E3E5E7; */
}


.blbl-combine .channel-box:hover {
    color: #18191C;
    background-color: #E3E5E7;
}



.minor-category .minor-category-box {
    height: 32px;
    width: 78px;

}

.minor-category .bigger {
    /* height: 32px;
    width: 102px; */
}


.minor-category-box svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}



.blbl-main .lunbo {
    grid-area: 1/1/3/3;
}



.blbl-main .blbl-vedio {
    height: 300px;

    border-radius: 6px;
    padding: 30px 0 20px 0;

}

.test span {
    color: #61666D;

}

.blbl-vedio .vediohead {
    width: 100%;
    height: 44px;
    padding-right: 30px;
}

.vediohead a:hover {
    color: rgb(72, 174, 241);
}

.dot-active {
    background-color: white;
}

.game:hover .gamehover {
    display: block !important;
    /* 要使用important覆盖内联样式 */
}

.my-head:hover a {
    transform: scale(2) translate(-10px, 10px);

    transition: all .5s;
    /* 这个逻辑才对，整个模块被按住，但是只有a会被放大 */
    /* 150 */
}

.my-head:hover .my-xinxi {

    display: block !important;

}

.blbl-topbar-right svg:hover {
    transform: translate(0, -5px);
    transition: all .3s;
}

.lunbo {
    background: #000;
}
.lunbo .image-container {
    width: 100%;
    
    transition: all .8s;
}

.image-container img {
    height: 500px;
    width: 100%;
    
    /* 使用了flex会导致图片自动收缩 */

    flex: none;
    mask-image: linear-gradient(
        to top,
        transparent 0%,     /* 底部完全透明 */
        transparent 20%,    /* 保留20%给文字区域完全透明 */
        black 30%,          /* 21%处开始渐变到不透明 */
        black 100%          /* 其余部分完全不透明 */
    );
    
    /* flex这个有三个值，直接控制伸长收缩和 */
}

.lunbo-navigation {
    height: 100px;
  

}



